<app-page-loader [processInProgress]="loadInProgress"></app-page-loader>

<nb-layout-header>
  <div class="header">
    <span class="logo">My App</span>
    <span class="spacer"></span>
    <ul class="nav-list">
      <li class="nav-item">
        <a routerLink="//login" class="nav-link">Logout</a>
      </li>
    </ul>
  </div>
</nb-layout-header>

<nb-card class="container">
  <nb-card-body>
    <div class="main-content">
      <div class="sidebar-container">
        <app-sidebar>
          <app-search-list
            [userList]="userDataService.list$ | async"
            [chatList]="chatDataService.list$ | async"
          ></app-search-list>
        </app-sidebar>
      </div>
      <div class="body-container">
        <app-body>
          <router-outlet></router-outlet>
        </app-body>
      </div>
    </div>
  </nb-card-body>
</nb-card>
