<div class="search-container">
  <app-chats-search></app-chats-search>
</div>
<div class="chats-container">
  <app-item name="joka" lastMessage="ya ebav kozu"></app-item>
  <app-item name="joka" lastMessage="ya ebav kozu"></app-item>
  <app-item name="joka" lastMessage="ya ebav kozu"></app-item>
  <app-item name="joka" lastMessage="ya ebav kozu"></app-item>
  <app-item name="joka" [active]="true" lastMessage="ya ebav kozu"></app-item>
  <app-item name="joka" lastMessage="ya ebav kozu"></app-item>
  <app-item name="joka" lastMessage="ya ebav kozu"></app-item>
  <app-item name="joka" lastMessage="ya ebav kozu"></app-item>
  <app-item name="joka" lastMessage="ya ebav kozu"></app-item>
  <app-item name="joka" lastMessage="ya ebav kozu"></app-item>
  <app-item name="joka" lastMessage="ya ebav kozu"></app-item>
  <app-item name="joka" lastMessage="ya ebav kozu"></app-item>
  <app-item name="joka" lastMessage="ya ebav kozu"></app-item>
  <app-item name="joka" lastMessage="ya ebav kozu"></app-item>
  <app-item name="joka" lastMessage="ya ebav kozu"></app-item>
  <app-item name="joka" lastMessage="ya ebav kozu"></app-item>
  <app-item name="joka" lastMessage="ya ebav kozu"></app-item>
  <app-item name="joka" lastMessage="ya ebav kozu"></app-item>
</div>
