<app-item name="joka" lastMessage="ya ebav kozu"></app-item>
<app-item name="joka" lastMessage="ya ebav kozu"></app-item>
<app-item name="joka" lastMessage="ya ebav kozu"></app-item>
<app-item name="joka" lastMessage="ya ebav kozu"></app-item>
<app-item name="joka" [active]="true" lastMessage="ya ebav kozu"></app-item>
<app-item name="joka" lastMessage="ya ebav kozu"></app-item>
<app-item name="joka" lastMessage="ya ebav kozu"></app-item>
<app-item name="joka" lastMessage="ya ebav kozu"></app-item>
<app-item name="joka" lastMessage="ya ebav kozu"></app-item>
<app-item name="joka" lastMessage="ya ebav kozu"></app-item>
<app-item name="joka" lastMessage="ya ebav kozu"></app-item>
<app-item name="joka" lastMessage="ya ebav kozu"></app-item>
<app-item name="joka" lastMessage="ya ebav kozu"></app-item>
<app-item name="joka" lastMessage="ya ebav kozu"></app-item>
<app-item name="joka" lastMessage="ya ebav kozu"></app-item>
<app-item name="joka" lastMessage="ya ebav kozu"></app-item>
<app-item name="joka" lastMessage="ya ebav kozu"></app-item>
<app-item name="joka" lastMessage="ya ebav kozu"></app-item>
