.search-container {
  margin-bottom: 20px;
}

.chats-container {
  overflow-y: auto;
  height: 80vh;
  padding: 0.8rem;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.list-title {
  margin: 0 0 20px 0;
  padding: 5px 10px;

  color: #fff;
  font-size: 1rem;

  background-color: #3366ff;
  box-shadow: 1px 1px 3px 0 #bebebe;
  border-radius: 5px;
}
