<ng-container *ngIf="currentChat">
  <nb-chat [title]="getChatTitle(receiver, currentChat)">
    <nb-chat-message *ngFor="let msg of messages$ | async"
                     type="text"
                     [message]="msg.text | decrypt"
                     [reply]="msg.sender === currentUser.id"
                     [sender]="msg.sender === currentUser.id ? currentUser.username : receiver.username"
                     [date]="msg.timestamp"
                     [avatar]="'https://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/robot-face.png'">
    </nb-chat-message>
    <nb-chat-form (send)="sendMessage($event, currentUser, receiver, currentChat)" [dropFiles]="false">
    </nb-chat-form>
  </nb-chat>
</ng-container>
